@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #F7F7F7;
    font-family: 'Roboto', sans-serif;
}

header,
footer,
#menu{
    background-color: #129799;
}

.nav-header{
   display: flex;
   justify-content: center;
   font-size: 1.2rem;
   font-weight: bold;
   padding-top: 1%;
   height: 8vh;
}

.nav-header a{
    padding-left: 5%;
}

.nav-header a:hover,
.nav-footer a:hover,
.redes-sociais a:hover{
    opacity: 0.9;
}

.compaco-batida{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.8rem;
}

.compaco-batida img{
    width: 30vw;
}

section{
    background-color: #FFA185;
}

.aquarela-textos{
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 3%;
}

.aquarela-textos h3{
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom:2%;
}

.aquarela-textos p{
    font-size: 1.2rem;
    color: #000;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.aquarela-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.aquarela-img img{
    width: 490px;
    height: 280px;
    margin: 0 0 3% 1.5%;
}

.veja-mais h4{
    color: #000;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 2.5%;
}

.container-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.redes-sociais{
    display: flex;
}

.redes-sociais a{
    margin-left: 1.3rem;
    font-size: 2rem;
}

.nav-footer{
   display: flex;
}

.nav-footer a{
    padding-left: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  #menu a {
    display: block;
    padding: 0.5rem;
  }
  
  #btn-mobile {
    display: none;
  }
  
@media only screen and (max-width: 768px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        right: 0px;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
      }
      #nav.active #menu {
        height:100vh;
        visibility: visible;
        overflow-y: auto;
      }
      #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
      }
      #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
      }
      #hamburger {
        border-top: 2px solid;
        width: 20px;
      }
      #hamburger::after,
      #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
      }
      #nav.active #hamburger {
        border-top-color: transparent;
      }
      #nav.active #hamburger::before {
        transform: rotate(135deg);
      }
      #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }
    .nav-header{
        height: 5.5vh;
    }

    .nav-header,
    .aquarela-textos p{
        font-size: 1rem;
    }

    h1,
    .aquarela-textos h3{
        font-size: 2rem;
    } 

    .aquarela-img img{
        width: 450px;
        height: 250px;
    }

    .container-footer{
        flex-direction: column;
    }

    .nav-footer a,
    .redes-sociais a{
        padding-top: 5%;
    }

    .redes-sociais a{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .nav-header,
    .aquarela-textos p{
        font-size: 1rem;
    }

    .compaco-batida{
        height: 20vh;
    }

    h1,
    .aquarela-textos h3{
        font-size: 1.8rem;
    } 

    .nav-header a{
        padding-right: 6%;
    }

    .aquarela-img img{
        width: 400px;
        height: 200px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    h1,
    .aquarela-textos h3{
        font-size: 1.2rem;
    } 

    .nav-header,
    .aquarela-textos p{
        font-size: 0.8rem;
    }

    .container-footer{
        flex-direction: column;
    }

    .aquarela-img img{
        width: 315px;
        height: 200px;
    }

    .veja-mais h4{
        padding: 5% 0;
    }

    .redes-sociais a{
        font-size: 1.2rem;
    }

    .nav-footer a,
    .veja-mais h4{
        font-size: 1rem;
    }
}

